<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a software engineering at the University of Tunis ElManar, I am deeply interested in cloud native and its emerging 
            technologies. I love building things. It is one reason why I love distributed systems and interacting with the cloud world.
            While hard engineering problems are often intrinsically fun to tackle, I'm most attracted to solving real problems
            and contributing in open source projects.
           
        </p>
        <p>
           Because sharing is caring, I really enjoying being in contributive positive teams where everyone learns from each other 
           and where challenges simply become opportunities to grow together within the same work culture.
           I'm looking for a DevOps internship opportunity to validate my 5th semester.
        
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Worked with Kubernetes clusters and Docker, buit clusters the hard way and well interacted with each kubernetes 
            components. 
    		</li>
          <li>
            Had an experience with GCP and infrastructure as code tools like Terraform and Ansible. 	
          <li>
            Worked within multiple start-ups. 
    			<li>
            Socially active, founded IEEE computer society chapter in my university and advocated open source cluture. 
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
