<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Cloud systems</b>. It's  exciting to work on distributed systems and deploy and monitor applications and make sure that a great product is always served.
			  </li>
			  <li>
				  <b>Blogging</b>. I love to document everything, I enjoy writing in different topics and interests. One great way to memorize 
          what you learn is by writing about that and sharing that knoweldge. Its what open source is all about, Isn't?
			  </li>
			  <li>
				  <b>Watching movies</b>. My absolute favorite movie is Shawshank Redemption. 
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          Build an application that lists Google Cloud Services in an interactive way
          by integration of Google APIs services using Golang in the back-end .
          Key skills: Golang, JS, Google cloud APIs.
    		</li>
  			<li>
          My Medium blog covers technologies like Docker and Kubernetes besides the personal belogging.
  			</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Volunteer at  Red Crescent Movement(since 2019)
  			</li>
  			<li>
  			  Active member in universities clubs that advocat open source philosophy. Organizing and participating in many Hackathons and competitive
                       programming competitions.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
